################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Task/.vs
/Task/Task/bin/Debug/net6.0
/Task/Task/obj
